input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 2px;
  background: #06b6d4; /* cyan-500 */
  border-radius: 4px;
}

/* Track */
input[type="range"]::-webkit-slider-runnable-track {
  height: 8px;
  background: #cffafe; /* cyan-100 */
  border-radius: 4px;
}

/* Thumb */
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  height: 15px;
  width: 15px;
  background: #06b6d4;
  border-radius: 9999px;
  cursor: pointer;
  margin-top: -3.5px;
}

input[type="range"]::-moz-range-track {
  height: 8px;
  background: #cffafe;
  border-radius: 4px;
}

input[type="range"]::-moz-range-thumb {
  height: 15px;
  width: 15px;
  background: #06b6d4;
  border-radius: 9999px;
  cursor: pointer;
  border: none;
}
